.appointment-card {
    position: fixed;
    background-color: rgb(33, 144, 255);
    color: white;
    padding: 1rem;
    border-radius: 1rem 0 0 0;
    bottom: 0;
    right: 0;
    z-index: 999;
}

.appointment-card__message {
    display: flex;
    flex-direction: column;
}